.modal{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background:rgba(0,0,0,0.5);
}

.modalbody{
    display: none;
    position: absolute;
    width: 600px;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    background-color:white;
    border-radius: 5px;
}

.closeBtn {
    float: right;
    background-color: white;
    margin: 10px;
    border: 1px solid gray;
    border-radius: 3px;
}