body {
    margin: 0;
  }
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('./backgroundimg.svg');
}
.loginform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 500px;
    background-color: rgba(231, 221, 221, 0.937);
}
/* // form태그에 정렳해야 해결됩니다. */
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  #userid,
  #userpw {
    margin-top: 20px;
    outline: none;
    width: 300px;
    height: 30px;
    background-color: rgba(231, 221, 221, 0.937);
    border: none;
    /* 외부 경계 제거 */
  }
  input {
    display: block;
  }
  #login {
    display: inline-block;
    width: 250px;
    height: 50px;
    background-color: black;
    color: white;
    font-size: 18px;
    border-radius: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  